@font-face {
  font-family: Manga;
  src: url(../fonts/Manga-4vx6.ttf);
}

* {
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Manga;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 20px;
    border: none;
}

::-webkit-scrollbar-track {
    background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
    background-color: #1f1f1f;
    border-radius: 20px;
    border: 3px solid #bbb;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    z-index: -1;
    overflow-x: hidden;
}

.bg {
    background-image: url(../images/bg.png);
    background-color: rgba(0, 0, 0, 0.4);
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    filter: blur(2px);
    z-index: 0;
}

.container-element {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 20px;
    z-index: 1;
}

.container h1 {
    width: 100%;
    text-align: center;
    font-size: 60px;
    color: #FFFFFF;
    text-shadow: 0 0 8px rgba(143, 163, 255, 0.8);
}

.select {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: 2rem;
    gap: 10px;
}

.select-items {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 0 10px 0;
    cursor: pointer;
    filter: drop-shadow(0 0 100px white);
    transition: 0.2s;
}

.selected {
    background-color: rgba(255, 255, 255, 0.4);
}

.scroll {
    overflow-y: scroll;
}

.events {
    columns: 300px;
    gap: 20px;
    margin: 0 10px 0 10px;
    width: 100%;
}

.events a {
    width: 100%;
}

.events img {
    width: 100%;
    margin: 0 0 20px 0;
}

@media only screen and (max-width: 325px) {

    .container h1 {
        font-size: 35px;
        margin: 15px 0 0 0 ;
    }

    .select {
        font-size: 1.4rem;
    }

    .select-items {
        padding: 5px 0 5px 0;
    }

}

@media only screen and (min-width: 325px) and (max-width: 400px) {

    .container h1 {
        font-size: 40px;
        margin: 10px 0 0 0 ;
    }

    .select {
        font-size: 1.5rem;
    }
    
}

@media only screen and (min-width: 400px) and (max-width: 450px) {
    
    .container h1 {
        font-size: 40px;
        margin: 10px 0 0 0 ;
    }

    .select {
        font-size: 1.5rem;
    }

}

@media only screen and (min-width: 450px) and (max-width: 770px) and (max-height: 730px) {

    .container h1 {
        font-size: 40px;
        margin: 15px 0 0 0 ;
    }

    .events {
        columns: 250px;
    }
    
    .select {
        font-size: 1.4rem;
    }

}

@media only screen and (min-width: 450px) and (max-width: 770px) and (min-height: 730px) {

    .container h1 {
        font-size: 50px;
        margin: 25px 0 0 0 ;
    }
    
    .select {
        font-size: 1.7rem;
    }

}

@media only screen and (min-width: 860px) and (max-width: 1030px) and (min-height: 650px) {

    .container h1 {
        font-size: 75px;
        margin: 35px 0 0 0 ;
    }
    
    .select {
        font-size: 2.3rem;
    }

}
