

* {
    border: none;
    margin: 0;
    padding: 0;
}

#home {
    height: 100vh;
    width: 100vw;
    z-index: 10;
    background-image: url("../images/gojo1.jpg");
    background-position: center;
    background-size: cover;
}

#main-logo {
    height: 70px;
}

.bg-holder {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    /* top: 0; */
    /* left: 0; */
}

.bg-holder img {
    /* height: 100%; */
    width: 100%;
    z-index: 1;
}