

* {
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: black;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#home {
    height: 100vh;
    width: 100%;
    /* background-image: url("../images/gojo1.jpg");
    background-position: center;
    background-size: cover; */
}

.home-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    flex-direction: column;
}

#main-logo {
    height: 100px;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 20px;
}

.header-labels {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header-labels a {
    color: white;

}

.bg-holder {
    /* background-color: yellow; */
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* filter: blur(10px); */
}

.bg-holder img {
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

#about {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}